body {
	margin: 70px 0 20px 0;
	background-color: #EFEFEF;
}

.navbar {
	background-color: #43f2b4;
}
.navbar *{
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.btn.btn-default {
	background-color: #43f2b4;
	color: white;
}

.navbar-toggle {
	border: none;
}

#add-note {
	box-shadow: 0px 3px 3px #ddd;
}

.note {
	padding: 15px !important;
	margin-bottom: 15px;
	background-color: white;
}

.note h1 {
	font-size: 1.5em;
}

.form-control, .input-group-btn  .btn {
	border-radius: 0;
	border: none;
}

.navbar-brand {
	background-color: #41e0a7;
	padding: 15px 20px;
}