body {
	margin: 70px 0 20px 0;
	background-color: #EFEFEF;
}

.navbar {
	background-color: #41e0a7;
}
.navbar *{
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.btn.btn-default {
	background-color: #41e0a7;
	color: white;
}

.navbar-toggle {
	border: none;
}

#add-note {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.08);
	background-color: rgb(205, 205, 205)
;
}

.note-list {
	clear: both;
	padding-top: 15px;
	text-align: center;
}

.note {
	margin-bottom: 15px;
	background-color: white;
	cursor: pointer;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.08);
	transition: 0.3s;
	text-align: left;
}

.note > .content {
	padding: 15px !important;
}

.display-grid .note {
	display: inline-block;
	width: 200px;
	min-height: 200px;
	margin: 0 8px 15px 8px;
	vertical-align: top;
}

.note.editing {
	box-shadow: 0px 6px 8px rgba(0,0,0,0.08);
}

.note h1 {
	font-size: 1.5em;
}

.note .edit-bar {
	overflow: hidden;
	height: 0px;
	background-color: #41e0a7;
	transition: 0.3s;
}
.note.editing .edit-bar {
	height: 50px;
}
.note .edit-bar > .content .btn {
	margin: 7px !important;
	float: right;
}

.note .tiny {
	font-size: 0.8em;
}

.note-text {
	white-space: pre;
}

.form-control, .input-group-btn  .btn {
	border-radius: 0;
	border: none;
}

.navbar-brand {
	background-color: #3dc694;
	padding: 15px 20px;
}