<div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="input-group" id="add-note">
		<input type="text" ng-model="newNote" class="form-control input-lg" placeholder="Add new note" />
		<span class="input-group-btn">
			<button class="btn btn-default btn-lg" type="button" ng-click="addNote()">
				Add
			</button>
		</span>
	</div>
	
	<br />
	<div class="note-list">
		<div class="note" ng-repeat="note in notes">
			<h1>{{ note.title }}</h1>
			<p>{{ note.text }}</p>
		</div>
	</div>
</div>