<div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="input-group" id="add-note">
		<input type="text" ng-model="newNote.text" class="form-control input-lg" placeholder="Add new note" />
		<span class="input-group-btn">
			<button class="btn btn-default btn-lg" type="button" ng-click="addNote()">
				Add
			</button>
		</span>
	</div>
</div>
<div class="note-list" ng-class="display_mode=='list'? 'display-list container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2' : 'display-grid container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1'">
		<note ng-repeat="note in notes" ng-model="note" delete="deleteNote" update="updateNote">
</div>
